<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<%= link_to 'Write a Message', new_message_path %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-4">Title</div>
    <div class="col-sm-4 col-md-4">Note</div>
    <div class="col-sm-4 col-md-4">Options</div>
  </div>
  <div class="row">
    <% @messages.each do |message| %>
          <div class="col-sm-4 col-md-4"><%= message.title %></div>
          <div class="col-sm-4 col-md-4"><%= message.note %></div>
          <div class="col-sm-4 col-md-4">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default"><%= link_to 'View', message %></button>
              <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_message_path(message) %></button>
              <button type="button" class="btn btn-default"><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Delete?' } %></button>
            </div>
          </div>
  </div>
      <% end %>

    </div>  
  </div>
</div>


<br>


